.profile {
    width: 100%;
    margin: 37px auto 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:880px) {
    .profile {
        margin-top: 40px;
        margin-bottom: 36px;
        flex-direction: column;
    }
}