.popup__error {
    display: flex;
    visibility: hidden;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    max-width: 100%;

    position: absolute;
    top:33px;
}

.popup__error:nth-of-type(2n) {
    top:90px;
}




